body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  color: rgba(0, 0, 0, 0.707);
}
